<h1>Se ha publicado un nuevo libro</h1>

<br>
<br>
<br>
<p>Estimado usuario, enviamos este correo para notificarle se ha publicado un nuevo libro.</p>
<p>Ya esta disponible en todas nuestras tiendas.</p>

<p>Nombre del libro <%= @libro.titulo%> </p>